@font-face {
    font-family: "Consolas"; /* may change later, though we do kinda like that font ~ae ~aa  */
    src: url(/Consolas.ttf);
  } 
@media (max-width: 640px) {
    main {
    width: 95%;
    margin: 0px;
}}

:root {
  --font-colour: #7d43f0;
/*  --bg-colour: 
  --highlight-colour: 
*/
}




body {
  display:flex; 
}

main { /* use this for like everything else */ 
  font-family: Consolas;
  color: var(--font-colour); 
  width:640px; 
  margin-bottom:0px; 
  margin-top:0px; 
  margin-left:auto; 
  margin-right:auto; 
  border-left:3px solid #c96094; 
  padding-top:0px; 
  padding:5px; 
  
  
}

h1, h2, h3, h4, h5, h6 {
  font-family: Consolas; 
}
p, span, alt, details, summary { 
  font-family: Consolas; 
  text-align: left; 
  color: white;
}

/* begin link things */
a:link {color:#631cc9;background-color:transparent;text-decoration:none;} /* unclicked link */ 
a:visited {color:#9648ca;background-color:transparent;text-decoration:none;} /* clicked link  */ 
a:active {color:paleturquoise;background-color:transparent;text-decoration:none;} /* clicked link, havent released */ 
a:hover {color: paleturquoise;background-color:transparent;text-decoration: none;} /* hovering over link */ 


.f88x31 {
  image-rendering: pixelated;
  width: 88px;
  height: 31px;
}
.interesting {
  font-family: monospace;
  border-radius: 2px;
  padding: 2px;
  border: 1px solid rgb(0, 0, 0);
}

.head { /* fancy things that get fully highlighted like headers and all that */ 
  font-family: Consolas;
  color: #a35; 
  background-color:#c96094;
  width:640px; 
  margin-bottom:0px; 
  margin-top:0px; 
  border-left:3px solid #c96094;
  padding:5px; 
  /* padding-top:0px; */

}

/* 
  .footnote {
    vertical-align: super; 
    font-size: 800%;
  }
*/ 